{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}

<h1>Add Users to {{group.group_name}}</h1>

<form id='add-users-form' method="POST">
    <input type='hidden' name='group_id' value='{{ group.group_id }}'>
    {% for key, value in users.items() %}
        <input type='checkbox' name='user' value='{{ key }}' id='{{ key }}' 
            {% if value['member'] == True %}checked{% endif %}>
            {{ value['name'] }}({{value['username']}})
    {% endfor %}
    <input type='submit' value='Submit'>
</form>



{% endblock %}
{% block javascript %}add_users_to_group{% endblock %}
