{% extends 'base.html' %}
{% block title %}Edit Group{% endblock %}
{% block content %}

<h1 class='current-page' value='edit_group'>{{group.group_name}}</h1>

<h5>Group Admin: </h5>
<a href='/users/{{ admin["admin_id"] }}'><h7>{{ admin['name']}}({{ admin['username']}})</h7></a>
<br>
<h5>Group Members:</h5>
<br>

<table class="table table-hover">
<thead>
<tr>
    <th>Name(username)</th>
    <th> </th>
</tr>
</thead>
<tbody>

    {% for member in members %}
        <tr>
            <td>
                <a href="user/{{ member.user_id }}">{{ member.user.fname }} {{ member.user.lname }}({{ member.user.username }})</a>
            </td>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-circle-arrow-left dropdown-toggle" id="member-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu dropdown-menu-right track-playlist-dropdown" aria-labelledby="member-dropdown">
                    <li>
                        <a id='{{ member.user.user_id }}-remove' class='remove_member'data-user_id='{{ member.user.user_id }}' data-group_id='{{ group.group_id }}'>
                            Remove from Group
                        </a>
                    </li>
                </ul>
                </span>
            </td>
        </tr>


    {% endfor %}


</tbody>
</table>

<script type=text/javascript>
    var userPlaylists = {{ playlists|tojson|safe }}; 
</script> 


{% endblock %}

{% block javascript %}edit_group{% endblock %}
