{% extends 'base.html' %}
{% block title %}Edit Group{% endblock %}
{% block content %}

<h1 class='current-page' value='edit_group'>{{group.group_name}}</h1>

<h5  class='playlist-info'><span class='playlist-data-label'>Group Admin:</span> 
<a href='/users/{{ admin["admin_id"] }}'><h7>{{ admin['name']}}({{ admin['username']}})</h7></a>
</h5>
<h3>Group Members:</h3>

<table class="table table-hover">
<thead>
<tr>
    <th>Name(username)</th>
    <th> </th>
</tr>
</thead>
<tbody>

    {% for member in members %}
        <tr>
            <td>
                <a href="user/{{ member.user_id }}">{{ member.user.fname }} {{ member.user.lname }}({{ member.user.username }})</a>
            </td>
        </tr>


    {% endfor %}


</tbody>
</table>
<form id='{{ group.group_id }}-add_form'>
<select id='{{ group.group_id }}-add' class="selectpicker" multiple data-live-search="true" data-group_id='{{ group.group_id }}'>
{% for member in non_members %}
    <option value='{{ member.user.user_id }}' data-group_id='{{ group.group_id }}'>{{ member.user.fname }} {{ member.user.lname }}({{ member.user.username }})</option>
{% endfor %}
</select>
 --><span class='glyphicon glyphicon-plus-sign add_member' type="submit" data-group_id='{{ group.group_id }}'></span>
</form>

<br>
<a class='remove_member me' data-user_id='{{ session["user_id"] }}' data-group_id='{{ group.group_id }}'>Remove myself from this group</a>


<script type=text/javascript>
    var userPlaylists = {{ playlists|tojson|safe }}; 
</script> 


{% endblock %}

{% block javascript %}edit_group{% endblock %}
