{% extends 'base.html' %}
{% block title %}Edit Playlist{% endblock %}
{% block pagetitle %}Edit Playlist{% endblock %}

{% block content %}

<h1 class='current-page' value='playlist'>{{ playlist.playlist_name }} <a class='edit-button' href='/playlist/{{playlist.playlist_id }}' data-toggle='tooltip' title='back to user view' data-placement='top'><span class='glyphicon glyphicon-check'></span></a> <a class='edit-button' href='' data-toggle="modal" data-target="#editPlaylistSettings" data-placement='top'><span class='glyphicon glyphicon-cog edit-button'></span></a></h1>


<div class='playlist-info'>


<h5><span class='playlist-data-label'>GROUP:</span> <span class='playlist-data'>{% if group is string %}
                {{ group }}
        {% else %}
            <a href='/group/group.group_id'>{{ group.group_name }}</a>
        {% endif %}
        </span>
</h5>
<h5><span class='playlist-data-label'>+Value to Add Song:</span> <span class='playlist-data'>{{ playlist.num_votes_add }}</span></h5>
<h5><span class='playlist-data-label'>-Value to Remove Song:</span> <span class='playlist-data'>{{ playlist.num_votes_del }}</span></h5>
</div>





<br>
<h3>Active Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
    <th></th>
</tr>
</thead>
<tbody>
    {% for song in songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-option-horizontal dropdown-toggle editDropdown" id="{{ song['ps_id'] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="editDropdown">
                    <li id="{{ song['ps_id'] }}-remove" class='remove-song' data-ps_id="{{ song['ps_id'] }}"><a>Remove From Playlist</a></li>
                    <li class='lock-song' data-ps_id="{{ song['ps_id'] }}"><a id="{{ song['ps_id'] }}-lock">??</a></li>
                </ul> 
                </span>
            </td>
            <td class='lock-status-col' data-lock_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_lock' class='glyphicon' aria-hidden="true"></span></td>
        </tr>


    {% endfor %}


</tbody>
</table>
<br>
<h3>Requested Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
    <th></th>
</tr>
</thead>
<tbody>
    {% for song in req_songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-option-horizontal dropdown-toggle editDropdown" id="{{ song['ps_id'] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="editDropdown">
                    <li id="{{ song['ps_id'] }}-remove" class='remove-song' data-ps_id="{{ song['ps_id'] }}"><a>Remove From Playlist</a></li>
                    <li id="{{ song['ps_id'] }}-add" class='add-song' data-ps_id="{{ song['ps_id'] }}"><a>Add To Playlist</a></li>
                    <li class='lock-song' data-ps_id="{{ song['ps_id'] }}"><a id="{{ song['ps_id'] }}-lock">??</a></li>
                </ul> 
                </span>
            </td>
            <td class='lock-status-col' data-lock_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_lock' class='glyphicon' aria-hidden="true"></span></td>
        </tr>


    {% endfor %}


</tbody>
</table>

<div class="modal fade" id="editPlaylistSettings" tabindex="-1" role="dialog" aria-labelledby="editPlaylistSettingsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPlaylistSettingsLabel">Edit Playlist Settings</h5>

                <div class="modal-body">
                <form method='POST' action='/playlist/{{ playlist.playlist_id }}/edit' id='playlist-name-form'>

   <!--              <div class="form-group">
                    <label for="exampleInputEmail1">Playlist Name</label>
                    <input type='text' class='form-control' name='playlist-name' id='playlist-name' value='{{ playlist.playlist_name }}'>
                </div> -->
                <div class='form-box'>
                    <div class='form-input'>
                    <input type='text' name='playlist-name' id='playlist-name' value='{{ playlist.playlist_name }}'></input>
                    </div>
                    <label class='form-lable'>PLAYLIST NAME</label>
                </div>
                <div class='form-box' id='group-picker'>
                    <div class='form-input'>
                    <select class="selectpicker group-selection" name='group-selection' title="- - select group to use playlist - -" data-size='auto' data-width='100%'>
                        <!-- <option disabled selected value> select an option </option> -->
                        <optgroup label="Administrated Groups">
                        {% for users_admin_group in user_admin_groups %}
                            {% if playlist.group_id == users_admin_group.group_id %}
                                <option id='{{ users_admin_group.group_id }}' value='{{ users_admin_group.group_id }}' selected='selected'>{{ users_admin_group.group_name }}</option>
                            {% else %}
                                <option id='{{ users_admin_group.group_id }}' value='{{ users_admin_group.group_id }}''>{{ users_admin_group.group_name }}</option>
                            {% endif %}
                        {% endfor %}
                        <optgroup label="Belonging Groups">
                        {% for users_group in users_groups %}
                            {% if playlist.group_id == users_group.group_id %}
                                <option id='{{ users_group.group_id }}' value='{{ users_group.group_id }}' selected='selected'>{{ users_group.group_name }}</option>
                            {% else %}
                                <option id='{{ users_group.group_id }}' value='{{ users_group.group_id }}''>{{ users_group.group_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                    <label class='form-lable'>GROUP</label>
                </div>
                <div class='form-box'>
                    <div class='form-input'>
                        <input type='number' name='num-to-add' id='num-to-add' value='{{ playlist.num_votes_add }}'>
                    </div>
                        <label class='form-lable'>+VALUE TO ADD</label>
                </div>
                <div class='form-box'>
                    <div class='form-input'>
                        <input type='number' name='num-to-del' id='num-to-del' value='{{ playlist.num_votes_del }}'>
                    </div>
                        <label class='form-lable'>-VALUE TO REMOVE</label>
                </div>
                    <input type='submit' name='Submit' value="Save" class='submit'>

                </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script src='/static/vote.js'></script>
<script src='/static/tracks.js'></script>




{% endblock %}
{% block javascript %}owned_playlist{% endblock %}