{% extends 'base.html' %}
{% block title %}Create Playlist{% endblock %}
{% block content %}

<h1 class='current-page' value='edit-playlist'>Edit Playlist</h1>

<form method='POST' action='/playlist/{{ playlist.playlist_id }}/edit' id='playlist-name-form'>
    Playlist Name: <input type='text' name='playlist-name' id='playlist-name' value='{{ playlist.playlist_name }}'>
    <br>
    Group: <select class="selectpicker group-selection" name='group-selection'>
        <option disabled selected value> -- select an option -- </option>
        {% for users_group in users_groups %}
            {% if playlist.group_id == users_group.group_id %}
                <option id='{{ users_group.group_id }}' value='{{ users_group.group_id }}' selected='selected'>{{ users_group.group_name }}</option>
            {% else %}
                <option id='{{ users_group.group_id }}' value='{{ users_group.group_id }}''>{{ users_group.group_name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    <br>
    Rules: <br>
        Number of Votes to Add Song: <input type='number' name='num-to-add' id='num-to-add' value='{{ playlist.num_votes_add }}'>
        <br>
        Number of Votes to Delete Song: <input type='number' name='num-to-del' id='num-to-del' value='{{ playlist.num_votes_del }}'>
        <br>

    <input type='submit' name='Submit'>
</form>
<br>
<h3>Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
</tr>
</thead>
<tbody>
    {% for song in songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-option-horizontal dropdown-toggle editDropdown" id="{{ song['ps_id'] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="editDropdown">
                    <li id="{{ song['ps_id'] }}-remove" class='remove-song' data-ps_id="{{ song['ps_id'] }}"><a>Remove From Playlist</a></li>
                    <li class='lock-song' data-ps_id="{{ song['ps_id'] }}"><a id="{{ song['ps_id'] }}-lock">??</a></li>
                </ul> 
                </span>
            </td>
        </tr>


    {% endfor %}


</tbody>

<script src='/static/vote.js'></script>
<script src='/static/tracks.js'></script>




{% endblock %}
{% block javascript %}owned_playlist{% endblock %}