{% extends 'base.html' %}
{% block title %}Search results{% endblock %}

{% block content %}

<h5>Playlist</h5>
<h2 class='current-page' value='playlist'>{{ playlist.playlist_name }}</h2>
<h5>Created by: {{ user.username }} -- {{ user.fname|title }} {{ user.lname|title }}</h5>


<h3>Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
    <th> </th>
</tr>
</thead>
<tbody>

    {% for song in songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td class='user-vote-col' id='{{ song["ps_id"] }}'>
                <a id='{{ song["ps_id"] }}_1' class='user-vote upvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_1_thumb' class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                <a id='{{ song["ps_id"] }}_-1' class='user-vote downvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_-1_thumb' class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
            </td>
            <td id='{{ song["ps_id"] }}_total'>{{ song['song-value'] }}</td>
        </tr>


    {% endfor %}


</tbody>
</table>

<h3>Requested Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
    <th> </th>
</tr>
</thead>
<tbody>

    {% for song in req_songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td class='user-vote-col' id='{{ song["ps_id"] }}'>
                <a id='{{ song["ps_id"] }}_1' class='user-vote upvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_1_thumb' class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                <a id='{{ song["ps_id"] }}_-1' class='user-vote downvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_-1_thumb' class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
            </td>
            <td id='{{ song["ps_id"] }}_total'>{{ song['song-value'] }}</td>

        </tr>


    {% endfor %}


</tbody>
</table>

<script src='/static/vote.js'></script>

{% endblock %}


{% block javascript %}tracks{% endblock %}