{% extends 'base.html' %}
{% block title %}Playlist{% endblock %}
{% block pagetitle %}Playlist{% endblock %}

{% block content %}

<h2 class='current-page' value='playlist'>{{ playlist.playlist_name }}
{% if is_owner %}
    <a class='edit-button' href='/playlist/{{ playlist.playlist_id }}/edit'>
    <span class='glyphicon glyphicon-edit'></span>
    </a>
{% endif %}
</h2>
<div class='playlist-info'>
<h5><span class='playlist-data-label'>Created by:</span> <span class='playlist-data'>{{ playlist.user.username }} -- {{ playlist.user.fname|title }} {{ playlist.user.lname|title }}</span></h5>
<h5><span class='playlist-data-label'>Group:</span> <span class='playlist-data'>{{ group_name }}</span></h5>
</div>


<h3>Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th> </th>
    <th> </th>
    <th> </th>
</tr>
</thead>
<tbody>

    {% for song in songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td class='user-vote-col' id='{{ song["ps_id"] }}'>
                <a id='{{ song["ps_id"] }}_1' class='user-vote upvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_1_thumb' class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                <a id='{{ song["ps_id"] }}_-1' class='user-vote downvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_-1_thumb' class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
            </td>
            <td id='{{ song["ps_id"] }}_total'>{{ song['song-value'] }}</td>
            <td class='lock-status-col' data-lock_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_lock' class='glyphicon' aria-hidden="true"></span></td>
        </tr>


    {% endfor %}


</tbody>
</table>

<h3>Requested Tracks</h3>
<table class="table table-hover">
<thead>
<tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th></th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody class='playlist-table'>

    {% for song in req_songs %}
        <tr>
            <td>
                <span class="dropdown">
                <span class="glyphicon glyphicon-play-circle dropdown-toggle playDropdown" id="{{ song['song'].song_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                <ul class="dropdown-menu" aria-labelledby="playDropdown">
                    <li id="{{ song['song'].song_id }}-preview" class='play-button' data-tooltip="{{ song['song'].preview_url }}"><a>Play 30 sec Preview</a></li>
                    <li><a href="#">Play Full Song on Spotify</a></li>
                </ul> 
                </span>
            </td>
            <td><a href="track/{{ song['song'].song_id }}">{{ song['song'].song_name }} </a></td>
            <td>
                <a href='artist/{{ song["artists"][0].artist_id }}'>{{ song["artists"][0].artist_name }}</a>
                {% for artist in song['artists'][1:] %}
                    , <a href='artist/{{ artist.artist_id }}'>{{ artist.artist_name }}</a>
                {% endfor %}
            </td>
            <td><a href='track/{{ song["album"].album_id }}'>{{ song["album"].album_name }}</a></td>
            <td class='user-vote-col' id='{{ song["ps_id"] }}'>
                <a id='{{ song["ps_id"] }}_1' class='user-vote upvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_1_thumb' class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                <a id='{{ song["ps_id"] }}_-1' class='user-vote downvote' data-song_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_-1_thumb' class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
            </td>
            <td id='{{ song["ps_id"] }}_total'>{{ song['song-value'] }}</td>
            <td class='lock-status-col' data-lock_id='{{ song["ps_id"] }}'><span id='{{ song["ps_id"] }}_lock' class='glyphicon' aria-hidden="true"></span></td>

        </tr>


    {% endfor %}


</tbody>
</table>

<script src='/static/vote.js'></script>

{% endblock %}


{% block javascript %}tracks{% endblock %}