{% extends 'base.html' %}
{% block title %}SignIn{% endblock %}
{% block pagetitle %}Login{% endblock %}

{% block content %}


<span class='row'>
<span class='col-sm-4'></span>
<span class='col-sm-4 user-info-form'>
<h2 class='current-page' value='sign-in'>Sign In</h2>

<form action='/sign-in' method='POST' id='signin' class='user-info'>
    <input type='text' name='username' id='username'>USERNAME
    <input type='password' name='password' id='password'>PASSWORD
    <br>
    <input type='submit' value='Submit' class='submit'>
</form>
</span>
</span>

{% endblock %}